
# dependencies
/node_modules
/.pnp
.pnp.js


/coverage
/.parcel-cache

/build

forkify-architecture-recipe-loading.png
forkify-flowchart-part-1.png
forkify-flowchart-part-2.png
forkify-flowchart-part-3.png


.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/dist
/parcel-cache

dist/*
.parcel-cache/*

package-lock.json
yarn.lock

try.html